@import url("https://fonts.googleapis.com/css2?family=Updock&family=Whisper&display=swap");

/* You're welcome to change any of this! */
* {
  box-sizing: border-box;
}

h2 {
  font-family: "Whisper";
}

body {
  margin: 0px;
  font-family: Arial, sans-serif;
}

header,
section {
  padding: 20px;
  min-height: 40vh;
}
p,
li {
  line-height: 1.5em;
}

#tutorials {
  background-color: #8ecae6;
}

#homework {
  background-color: #219ebc;
}

#inspiration {
  background-color: #ffb703;
  padding-top: 40px;
  padding-bottom: 40px;
}
